
/* INICIO FOOTER */

.footer-pie-pagina{
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    z-index: 9999;
}

#footer {
    background-color: #E6E6E6;
    text-align: center;
}

#footer p {
    padding: 0.5em;
    margin: 0px;
    font-size: 0.9em;
    color: #808080;
}


/* FINAL FOOTER */

.navbar-inverse{
    background-color: #B61F30 !important;
    border-color: #080808 !important;
}

.navbar-inverse .navbar-nav>li>a {
    color: white !important;
}

.navbar-inverse .navbar-brand {
    color: white !important;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    color: #fff !important;
    background-color: #A00D26 !important;
}

.btn-primary {
    color: #fff !important;
    background-color: #A00D26 !important;
    border-color: #333 !important;
}

.icono-datatable{
    cursor: pointer;
}

.text-error {
  color: #b94a48;
}

/*.paginate_button.current,.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
    color: #fff !important;
    border:1px solid #333;
    background-color:#A00D26 !important;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #A00D26), color-stop(100%, #111));
    background:-webkit-linear-gradient(top, #A00D26 0%, #111 100%);
    background:-moz-linear-gradient(top, #A00D26 0%, #111 100%);
    background:-ms-linear-gradient(top, #A00D26 0%, #111 100%);
    background:-o-linear-gradient(top, #A00D26 0%, #111 100%);
    background:linear-gradient(to bottom, #A00D26 0%, #111 100%)

}*/