
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Página sin título</title>
</head>
<body>
    <form id="form1" method="POST" runat="server" style="text-align: center" action="~/Dispatcher/ValidaSesion">
        <div id="divProgress" style="left: 45%; top: 45%; position: absolute; float: left;">
            @*0eSxd3CuGFrZDxamf16fkq16l1O7Fc3c*@


          <!--  <INPUT id=varSession type=hidden value="rPNnCicV7yziW64lQtmsMEfhI8ZZQkI3Yn/pMrNjf+XmJ6go26NR5zUfSwFTVWJR3FaxVju4ZBXCpD+v6Wx0JWNl0OTHaACvVLctTqusn8kJq0k1TAghXUSMKLlp96bQ+FjIAcqA5sy0apIjFX/FiJT5Qv+NvX3GevQUE6VgCXoSOEl/AmQIE6r9bOJq2j9c2UKg4bQJWwbXy/eZHBOE2macENjnmiaDdtwPDtsEtoEBA70N2dGtJjbKP6A1r+4Z/Y8HtP6h1scJnokXJl3Vv67cl57JRJ9rYs6+wQHY/ee6RWtP3AR9Ywkii0vqdxuXXYPCYnxwWiXBE/UpQ7yEXsMMSDS/3DWm8kAVkqyugvfwWe+wb6Lg1VN84ayGNtsHskVUwoRUSLCfQyzXpvp5oyjpPyRD0V4owtu64Zx9PNjYosEJXFbxiTwcD5UaF1ncZGrd8CHs49368LWbQhxnbHBlB0/7/tvfsPKhIBbzNaN6kcl7BSuuiQO9LpZOTE4Rw6fWhRyopW/hVyG4yFcn0h6V+FEX+e652N7qI9CZydAkmh6mUT0AgIc/dT6yRWkXcy9WAkf4kXoklrTcdbni3fqLF9R9YJuJ92b1HxU4CU3GBC2eydYpzan4EXdqxtHikxucUGqUZkI4TisEhMuLZ6z16gJs3Z+vHja+Y6ZnIL1hgThNZniJZQGmDJhdMo7U/qLw5t4g6qUoOCFHep349CxDUnnpFMimSd9xeOZSyMTRKLzYplSXbYTAEozq5jjpPvOgF2Bgdc+v1yX1kdFwM1dOn3QR02tuSHGRj3VaTdRVmEzzV0gYzGRMNXx6e1cUHjSrdxWROBGiSScQVlqI7bDQMm32twBKIo+zEJTe47CxhKGgge+uQ8jxRWzMaO+jmJXeLpOfahw30NJc7W6KNIHmz5EV5BB4dKOTBFChNgb0rvQXwW+7ymCP7nsSDyB27+bu7pFpQKaR0w1Qdrpj+dJS02Ufkn8S7ENtkaoLY6LJfNfcTFppZP+TrcIJ8LpFd2ONPVycjKSj6RUFFzOV+EO8DbbzHOsw+/GQPU0RunU=" name=varSession /> -->
            <INPUT id=varSession type=hidden value="0eSxd3CuGFrZDxamf16fkq16l1O7Fc3c+jolM2HXsYmEVi+7yKSd31EgxUniktXjxQidQF4SM1IPDyq7YPk++mXEnXZr9NQBq5NJwcmEvNr/8r3WwJEN1UZwjGPx6jcWZzMbxhTzn3+hs/U18utmt12Obcv9MIOJlEOy74JIsQqain8GOuPCS+OsQenc6OQEMAhu+mLEpFc/37SrGfoMIn/IU7Olq9u3P6pplH0Wc6wnIoLXKEArix+4cR7bfrwGXrkBzA1PX1HZXdFiI9kmKiY8i1GtQK0cD1tc1b4kKm1KjEotUpLz2pKB484zApS5Lt9gTpQa/JPoKlZZbUBDeUgEc+NmWzqOisRRznnv2vd1Q1Od0ch+U0CpuJa9cToVk9JSlTX1wVtzPhjvdY5YnXb1FxPqPheGBRNCWRQlYWca9tfdIKeGeRVF5anNQn2PDsA9/+C+0HPP8K5EBUep9wULa90mzYoeMaHhs/w8c4TmHg3tlWO3kWGQ6IiB4eAAI/NhNjeFZnh7rlARavn9uGq/ztIbv+TjOcYndfbquun/5gPrTB5pnVo1by9+sgmoznfi6Imkdk6gEE++LlJNXp/51g0/Gly7LyprLbbYMMCl6UgyLc9M98Zzok6jfGOXT8jlCh+zmoGMwDd6RC/0s2n1kmsRrEAG4CxkJlraTbJ2C5MYruO9QmYCIoSocybItSjs71qk12gKr92z79hbbrlbxqlHPHfvoc/J6lvG3/cqiDqCSmKLvUGFzfJKMJdMmxX03zVl/5e1vKSOrtVaysJ5LZVevKhm5kopqaXDkQYVGUxFtbB9eXmjFGszW5kR3M15PgJ+rj9PFzed60bANfGmqudhOdDMAr/LZIZzFfVdK8rUdCRU7DpKKOirGq+y8UGRRToLTs4tMFx7G6jDeQ0m/PcnkiRPeCHFwvCdv6syKKxwrnK0lkd10w3UZv/dPpeSreDDPQKXGPAaKXTiaTPb5fO9E4K1wESPdlNRamrzzVMIooIssRPBosZ20B3QHT1kIqIcb9T7jP3Yq/ysmI4OZvthtiJ4nTWxrmsXhFE=" name=varSession />
            <asp:Image ID="imgProcessing" runat="server" ImageUrl="~/Content/images/cargando.gif" />
            &nbsp;
            <asp:Label ID="lblProgressStaus" runat="server" Text="Procesando..."></asp:Label>
        </div>
    </form>
    <script>
        $(document).ready(function(){
            $("form#form1").submit();
        });
    </script>
</body>
</html>